<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingtao.ltvideo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.PlayGIFActivity"></activity>
        <activity android:name=".activity.ImageViewDimActivity" />
        <activity
            android:name=".activity.CoordinatorLayout3Activity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.CoordinatorLayout1Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name=".activity.CoordinatorLayout2Activity" />
        <activity android:name=".activity.CardViewActivity" />
        <activity android:name=".activity.ImageFixW" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.XfermodeViewActivity" />
        <activity android:name=".activity.SwipeCaptchaViewActivity" />
        <activity android:name=".activity.CircleIndicatorViewActivity" />
        <activity android:name=".activity.CanvasActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.PictureCropActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.CameraPreviewActivity" />
        <activity android:name=".tietu.PictureHodlerMainActivity" />
        <activity android:name=".activity.MatrixActivity" />
        <activity android:name=".activity.PictureProcessingActivity" />
        <activity android:name=".activity.StickyScrollViewActivity" />
        <activity android:name=".activity.StickyScrollViewActivity2" />
        <activity android:name=".activity.StickyScrollViewActivity3" />
        <activity android:name=".tietu.PageActivity" />
        <activity android:name=".tietu.MediaPickerActivity" />

        <service android:name=".service.ImageService" />
        <service android:name=".service.IWhileService" />
    </application>

</manifest>